<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
    <title>CV of Peter Marklund</title>
    <style type="text/css">
      body {
        color: black;
        background-color: white;
      }
      li {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    </style>
  </head>

  <body>
    <h1>CV of Peter Marklund</h1>

    <p>
      <a href="https://se.linkedin.com/in/petermarklund">Linkedin</a> |
      Permanent address of this CV:
      <a href="http://marklunds.com/peter/cv">http://marklunds.com/peter/cv</a>
    </p>

    <hr />

    <h3>Introduction</h3>

    <p>
      I have over 20 years of experience as a software developer and my
      expertise and interests are in full stack web development, testing (TDD),
      software design and architecture, functional programming, REST APIs, and
      databases (SQL and NoSQL). Programming languages: JavaScript/Node.js,
      Ruby, Python, Clojure/Scala/Java, and Elixir/Erlang. My CV can be found on
      my <a href="http://marklunds.com/peter/cv">homepage</a> and some of my
      code is on <a href="https://github.com/peter">Github</a>.
    </p>

    <p>
      More information can be found on my
      <a href="https://www.linkedin.com/in/petermarklund">LinkedIn page</a>.
    </p>

    <h3>Professional Experience</h3>

    <ul>
      <li>
        April 2019 - Present. Full stack engineer at Aftonbladet/Schibsted.
        Worked in a complex IT and organizational environment (distributed among
        three countries) including mobile apps, desktop and mobile web, Varnish
        for HTTP caching and routing, a React/Redux based web app, and a Node.js
        presentation API. Contributed to OpenAPI (Swagger) validation,
        regression testing with Puppeteer, and REST API testing. Created Node.js
        REST APIs, migrated to a Zuora based subscription/payment platform,
        migrated to new mobile apps, migrated to a new automated machine
        learning based frontpage and to a new React/Redux/Emotion based server
        and client side rendered web application with TypeScript and
        webpack/babel.
      </li>

      <li>
        November 2018 - April 2019. Full stack engineer at Kindred Group (Maria
        Casino). Worked in the Frontend Integration Services team creating
        reusable React components related to responsible gaming (deposit limit,
        session limit, self exclusion) for brands like Maria Casino, iGame and
        Unibet. Also worked on web socket based messaging. Created a library of
        UI elements (React components) per brand and worked on end-to-end
        testing with Cypress.
      </li>

      <li>
        May 2018 - October 2018. Working as Data Engineer at iZettle.
        Technologies: Kotlin, Python, Redshift, GCP, Apache Airflow
      </li>

      <li>
        August 2017 - May 2018. Working as a senior backend developer at
        <a href="https://magine.com">Magine TV</a>. Responsibilities include
        REST API:s related to user handling and advertisement etc., our customer
        admin UI (backoffice), and our data pipeline. Technologies: Scala,
        Cassandra, Kafka, Spark, TypeScript, Angular etc.
      </li>

      <li>
        September 2014 - August 2017. Senior developer at Bonnier Broadcasting
        (TV4 and C More). Projects:

        <ul>
          <li>
            Worked on simplifying and refactoring the C More Website and the CMS
            and other systems that support it. We used technologies like Ruby on
            Rails, Node.js, ES6/Babel.js, React.js, Vue.js, and Clojure.
          </li>

          <li>
            Building a common client API (for app/web/Apple TV) on Java Spring
            Boot, Java RX, and Hystrix
          </li>

          <li>
            Working in the innovation and Data Science group at TV4 with
            collection and visualization of analytics data on a technology stack
            that includes Python, S3, Hive, Hadoop, Amazon Redshift, d3.js, ES6,
            Elixir, and Clojure.
          </li>

          <li>
            Architecting and re-implementing the
            <a href="https://www.koket.se">köket.se</a> (aka recept.nu) website
            and CMS using technologies such as Node.js, Clojure, RabbitMQ,
            MongoDB, Angular.js, and React.js.
          </li>
        </ul>
      </li>

      <li>
        October 2013 - August 2014. Working as CTO for
        <a href="http://naturkartan.se">Naturkartan.se</a> - an outdoor map
        application. Using technologies such as Ruby on Rails, Node.js, and
        MongoDB.
      </li>

      <li>
        September 2012 - November 2013. Worked as CTO for
        <a href="http://www.weplus.se">We+</a>. Developed a Ruby on Rails based
        responsive web application used by companies to promote exercise.
      </li>

      <li>
        January 2012 - September 2012. Worked as Senior Developer for the Ruby
        backend team at Beats Music Europe (Beats by Dre). Used an evented
        server setup with Goliath and Node.js for the backend and the
        Backbone.js JavaScript MVC framework for the frontend. Used the
        <a href="http://developer.echonest.com/">Echo Nest API</a> to create
        music recommendations.
      </li>

      <li>
        August 2010 - December 2011. Doing Ruby on Rails development for the
        <a href="http://www.magplus.com">Mag+</a> iPad magazine publishing
        project. I worked on the API used by the iPad apps and a content
        publishing system. As the development team grew to around ten developers
        in the summer of 2011 my role became that of development manager.
      </li>

      <li>
        September 2008 - July 2010. Worked as a Ruby on Rails developer for
        <a href="http://www.mynewsdesk.com">MyNewsdesk</a>. I helped the team
        develop coding conventions and a process for automated testing.
      </li>

      <li>
        April 2008 - August 2008. Responsible for deployment, continuous
        integration (with CruiseControl.rb), and development of a payment system
        using Ruby on Rails at <a href="http://www.diino.se">Diino.se</a>.
      </li>

      <li>
        September 2007 - March 2008. Developed and deployed Ruby on Rails
        e-learning and recruiting applications for the Gear web agency.
      </li>

      <li>
        January 2007 - August 2007. Developed and deployed a Ruby on Rails
        VoiceXML platform for <a href="http://www.voxway.se">Voxway</a>. The
        platform could handle ingoing and outgoing phone calls as well as SMS.
        Ported a number of
        <a href="http://en.wikipedia.org/wiki/Interactive_voice_response"
          >IVR</a
        >
        applications from ColdFusion to Ruby on Rails.
      </li>

      <li>
        February 2006 - April 2006. Worked as CTO for Adocca building the
        trig.com music community website using Ruby on Rails. Responsible for
        staffing of the technical team, requirements gathering, project
        management, implementation, and quality assurance.
      </li>

      <li>
        May 2006 - Present. Working as a freelance web developer and instructor.

        <p>
          Programming engagements:
        </p>

        <ul>
          <li>
            Helped <a href="http://www.weplus.se">We+</a> solve
            performance/scalability issues with their leaderboards (2014).
          </li>

          <li>
            Improving performance of naturkartan.se by reading data from MongoDB
            instead of PostgreSQL (2013).
          </li>

          <li>
            Helped Playad implement a streaming video platform in cooperation
            with TT. I worked on a Rails system with performance (caching in
            Redis) and importing of videos from TT (2013).
          </li>

          <li>
            Built a CMS on Rails 4, PostgreSQL and Redis for the launch of the
            Wizard Wars game from Paradox Interactive (2013).
          </li>

          <li>
            Co-founded and led the development of
            <a href="http://simplesignup.se">Simple Signup</a> using Ruby on
            Rails (2008).
          </li>

          <li>
            Worked with Gustav von Sydow to develop the Ruby on Rails backend
            for intelligent banners used in campaigns for customers such as
            Telia and SAS. The system needed to be architected in a scalable
            fashion since some of the banners received millions of hits a day
            (2007).
          </li>

          <li>
            Built features such as messaging, Bayesian ratings, and a discussion
            forum for a music community called MI7.com. Moved deployment from a
            single server solution to a VPS cluster (2007).
          </li>

          <li>
            Helped Streamio develop and deploy their video streaming service on
            Ruby on Rails. Migrated production servers from Windows to a
            replicated FreeBSD server farm with failover (2007).
          </li>

          <li>
            Developed a <a href="/s5/mcm.html">CRM system</a> for Green Media
            Toolshed (2006).
          </li>
        </ul>

        <p>
          Courses, conferences, and writing:
        </p>

        <ul>
          <li>Coursera: Basic Statistics (2018)</li>
          <li>Coursera: Introduction to Data Science in Python (2018)</li>
          <li>Coursera: Applied Machine Learning in Python (2018)</li>
          <li>Coursera: Data Science Math Skills (2018)</li>
          <li>
            Taught
            <a href="http://marklunds.com/articles/one/347"
              >a five day Rails course in 2007</a
            >. Gave short on-site Rails courses at
            <a href="http://www.greatworks.se">Great Works</a> and
            <a href="http://connecta.se">Connecta</a>. Taught five
            <a href="http://marklunds.com/articles/one/435"
              >two day Ruby courses</a
            >
            to C++ developers at Ericsson in collaboration with Informator in
            2011. Taught the same Ruby course at T2 Data in March 2012. The
            course material is
            <a href="https://github.com/peter/ruby_basic">available on Github</a
            >.
          </li>

          <li>
            Did technical review for the book
            <a
              href="http://www.amazon.com/Beginning-Ruby-Rails-E-Commerce-Professional/dp/1590597362"
              >Beginning Ruby on Rails E-Commerce</a
            >
          </li>

          <li>
            Organized Ruby on Rails <a href="/articles/one/302">meetups</a>
            <a href="http://rails.se/rails/show/Railstr%C3%A4ffar+i+Stockholm"
              >in Stockholm</a
            >
            and gave a presentation on
            <a
              href="http://marklunds.com/test-driven-development-with-ruby.html"
              >Test Driven Development with Ruby</a
            >
          </li>
          <li>
            Wrote articles on Ruby on Rails for Informator and
            <a href="http://www.datormagazin.se">Datormagazin</a>.
          </li>
          <li>
            Attended conferences such as
            <a href="http://www.reboot.dk">Reboot</a> and
            <a href="http://www.railsconfeurope.com/">RailsConf Europe</a>
          </li>
          <li>
            Attended the
            <a href="http://pragmaticstudio.com/railsadvanced"
              >Advanced Rails Studio in Chicago</a
            >
            and the Big Nerd Ranch
            <a href="http://www.bignerdranch.com/classes/ruby.shtml"
              >Ruby on Rails Bootcamp</a
            >
          </li>
        </ul>
      </li>

      <li>
        February 2005 - January 2006. Worked as a Java developer for
        <a href="http://pricerunner.com">Pricerunner.com</a> in Stockholm.
        Technologies included Linux, Tomcat, Lucene, Ant, JUnit, and Oracle.
        Worked on improving the Pricerunner search engine and implemented a
        mobile phone subscriptions comparison service. Contributed to a quality
        assurance process including unit, functional testing, and technical
        documentation.
      </li>

      <li>
        July 2002 - January 2005. Worked as a Senior Web Developer at a web
        agency in Copenhagen together with
        <a href="http://calvinconaway.com/about">Calvin Conaway</a>. Developed
        and deployed the <a href="http://www.dotlrn.org/">.LRN</a> and
        <a href="http://openacs.org">OpenACS</a> frameworks to help clients such
        as MIT and the Heidelberg University with E-Learning and online
        collaboration. Projects included:

        <ul>
          <li>
            Built a CMS publishing system for Greenpeace International. I was
            involved in requirements gathering and usability tests, software
            architecture, data migration, and implementation. The new system
            powered over 20 Greenpeace websites in different countries.
          </li>

          <li>
            Developed a media contact relationship manager for
            <a href="http://www.greenmediatoolshed.org">Green Media Toolshed</a>
            that allowed non-profit organizations to search for journalists in a
            database, contact them in bulk via email or fax, and have all
            communications be archived and searchable.
          </li>

          <li>
            Architected, implemented, and tested the DrDater.com dating website.
            I developed automated web and load tests using
            <a href="http://jmeter.apache.org">JMeter</a>.
          </li>

          <li>
            Implemented online retailer schedules for sales associates at the
            T-Mobile Training website with over 50,000 users.
          </li>

          <li>
            Implemented a workflow engine for OpenACS web framework. I helped
            Greenpeace International use this workflow engine to support their
            web content publishing.
          </li>

          <li>
            Developed and maintained the automated OpenACS and .LRN testing
            servers.
          </li>

          <li>
            Developed a role playing / simulation engine for the Leiden
            University that allowed law students to engage in realistic law case
            simulations.
          </li>

          <li>
            Internationalized the OpenACS toolkit. This involved developing an
            XML-based message catalog and support for timezones, charsets etc.
          </li>

          <li>
            Developed Task Management and Time Reporting applications for
            OpenACS.
          </li>
        </ul>
      </li>

      <li>
        May 2002 - July 2002. Worked as a Test Engineer doing Java programming
        for <a href="http://www.om.com">The OM Group</a> in Stockholm. I helped
        with the testing of the SAXESS product which was used by the stock
        exchanges in Scandinavia.
      </li>

      <li>
        January 2002 - May 2002. Worked as a Java/Web developer for Nordic Wave
        in Stockholm. Was lead developer for a project to build a web based
        reporting system for a large medical corporation. The system would
        dynamically show patient measurement statistics in charts. The medical
        data was uploaded to a server from the doctors clinics using a web
        service. My responsibilities during this project included Java
        architecture based on the JBoss application server, database
        administration (PostgreSQL) and developing of automated functional tests
        and load tests using various JUnit tools (Cactus, HttpUnit and
        JUnitPerf).
      </li>

      <li>
        July 2000 - January 2002. Worked as Senior Developer at ArsDigita (later
        acquired by <a href="http://www.redhat.com">Red Hat</a>) in Munich,
        London and Boston. Was offered the job after having passed a Boot Camp
        assessment that involved developing database backed web applications
        under time pressure. During my time at ArsDigita I had the privilege of
        working with very talented software developers and I gained a thorough
        understanding of web technologies such as HTTP, HTML, JavaScript, CSS,
        and web servers. Some of my most important projects were:

        <ul>
          <li>
            Worked on the Siemens ShareNet project - a web based knowledge
            management system used in the Siemens conrporation by 16,000
            employees in 70 countries. I worked on core parts of the system such
            as site-wide search, mailing lists, email templates, and a user
            incentive system.
          </li>

          <li>
            Helped Deutsche Bank with an intranet project including
            categorization, a navigation API, user statistics, news, and
            discussion forum applications
          </li>

          <li>
            Worked in the product engineering team on the ACS Java web framework
            in Boston. Developed the Form Builder service with which HTML forms
            could be built by non-programmers.
          </li>

          <li>
            Worked with a client in London (OneWorld.net) using the ACS Java CMS
            system to enable publishing of different types of content.
          </li>

          <li>
            Worked for two and a half months on a project in London developing a
            web-based option trading system. Did custom applet and JavaScript
            development and used Apache SOAP for communication with a Visual
            Basic client.
          </li>

          <li>
            Built an intranet community portal for a client in London with the
            ACS Java web application platform.
          </li>

          <li>
            Implemented a categorization engine for ACS 4 Tcl (ACS Tcl is now
            being maintained by the
            <a href="http://openacs.org/">OpenACS project</a>). The engine
            allowed web content to be categorized dynamically along multiple
            dimensions.
          </li>

          <li>
            Developed a Bookmarks application. The application allowed bookmarks
            (URLs) to be managed with a web interface so that they could bed
            accessed from any browser.
          </li>

          <li>
            Worked on a server disk space monitoring tool (Cassandrix) for the
            <a href="http://www.aolserver.com/">AOLServer</a> web server.
          </li>
        </ul>
      </li>

      <li>
        January 2000 - July 2000. Worked at Ericsson Radio Systems in Stockholm
        and in Dallas as a Java developer. Worked on an IP telephony project and
        primary responsibilities included Java Swing programming and JUnit
        testing.
      </li>

      <li>
        July 1999 - January 2000. Worked at Ericsson Radio Systems in Stockholm
        simulating signal processing in the mobile telephony base stations. Was
        responsible for test algorithms implemented in C and helped the team
        move towards an object oriented C++ implementation.
      </li>

      <li>
        January 1999 - July 1999. Worked at Cap Gemini as SAP consultant doing
        ABAP programming for various clients.
      </li>

      <li>
        Summer of 1998. Internship at Vitec in Umeå developing Visual Basic
        programs to solve optimization problems involved in power generation.
      </li>

      <li>
        Summer of 1997. Internship at a technical research institute in Berlin.
        Did C programming related to image processing
      </li>
    </ul>

    <h3>Education</h3>

    <p>
      Master of Science in Engineering Physics (swedish title: "Civilingenjör i
      Teknisk Fysik").
    </p>

    <ul>
      <li>
        1998. Did my diploma work at Siemens in Vienna on the subject "Price
        Forecasting on an Electricity Market".
      </li>

      <li>
        1997-1998. Studied my final year at the Technical University of Vienna
        specializing in Operations Research (optimization theory applied to
        economic problems).
      </li>

      <li>
        1994-1997. Studied the first three years of the Engineering Physics
        program at the University of Umeå in Sweden.
      </li>
    </ul>

    <h3>Contact Information</h3>
    <ul>
      <li>
        Address: Peter Marklund <br />
        Ekholmsnäsvägen 125B <br />
        18164 Lidingö <br />
        Sweden
      </li>
      <li>Email: peter@marklunds.com</li>
      <li>
        Twitter:
        <a href="http://twitter.com/#!/peter_marklund">peter_marklund</a>
      </li>
      <li>Mobile Phone: +46-70-4164857</li>
      <li>Skype: peter_marklund</li>
      <li>Homepage: <a href="http://marklunds.com">http://marklunds.com</a></li>
    </ul>

    <hr />
  </body>
</html>
